@use "_mixin" as m;
$font-poppins: "Poppins", sans-serif;

body {
  font-family: $font-poppins;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1268px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  &-inner {
    padding: 28px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include m.breakpoint(lg) {
    }
  }
  &-inner > * {
    flex: 1;
  }
  &-items {
    display: none;

    @include m.breakpoint(lg) {
      display: flex;
      justify-content: flex-end;
    }
  }
  &-items > * {
    margin-left: 37px;
  }
}
.button-mobile {
  text-align: right;
  display: inline-block;
  @include m.breakpoint(lg) {
    display: none;
  }
}
.main-menu {
  display: none;
  @include m.breakpoint(lg) {
    display: block;
  }
  &__list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

    @include m.breakpoint(lg) {
      display: flex;
    }
  }
  &__item {
  }
  &__link {
    font-size: 18px;
    display: block;
    padding: 10px 35px;
    text-decoration: none;
    color: #000;
  }
  &__link:hover {
    background: #000;
    color: #fff;
  }
}

// BANNER
.banner {
  margin-bottom: 17px;
  &__img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  &__big {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__text {
    /* Đổi tên lớp thành banner__text */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-54%, -80%);
    text-align: center;
    color: white;
  }

  h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }

  span {
    font-size: 1em;
  }
  a {
    text-decoration: none;
    color: red;
    font-size: large;
  }
  a:hover {
    color: white;
  }
}

// SECTION
.section-heading {
  border-bottom: 1px solid #000;
  padding: 17px 0 20px 0;
  margin-bottom: 57px;
  &__title {
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
}
.news {
  margin-bottom: 95px;
}
.product {
  &-list {
    @include m.grid(1, 30px);
    @include m.breakpoint(sm) {
      @include m.grid(2, 30px);
    }
    @include m.breakpoint(md) {
      @include m.grid(4, 30px);
    }
  }
  &-item {
    position: relative;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  &-item:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  &-image {
    position: relative;
    overflow: hidden;
  }
  &-sale {
    background: #e97171;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #fff;
  }
  &-new {
    background: #2ec1ac;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #fff;
  }
  &__thumbnail {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    width: 100%;
    @include m.breakpoint(md) {
      height: 302px;
    }
    object-fit: cover;
  }
  &-item:hover &__thumbnail {
    transform: scale(1.1);
  }
  &-info {
    padding: 15px;
    background: #f4f5f7;
  }
  &__name {
    font-size: 24px;
    margin: 0;
    padding: 0;
  }
  &__link {
    text-decoration: none;
    color: #3a3a3a;
  }
  &__category {
    color: #898989;
    text-decoration: none;
    display: block;
    margin: 13px 0;
  }
  &-price {
    display: flex;
    justify-content: space-between;
  }
  &-price__new {
    color: #3a3a3a;
    font-size: 20px;
    font-weight: 600;
  }
  &-item:hover &-actions {
    opacity: 1;
  }
  &-actions {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    opacity: 0;
    transition: 0.3s ease-in-out;
    color: #fff;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  &-actions > * {
    margin-bottom: 15px;
    cursor: pointer;
  }
  &-actions > button {
    width: 200px;
    height: 30px;
  }
}
.shop {
  margin-top: 60px;
  margin-bottom: 54px;
}
.shops {
  @include m.grid(2, 30px);
}
.post-item {
  @include m.grid(1, 30px);

  @include m.breakpoint(md) {
    @include m.grid(2, 30px);
  }
  align-items: center;
  margin-bottom: 15px;
}
.post {
  &-info {
    border-bottom: 1px solid #000;
    padding-bottom: 41px;
    display: flex;
    flex-flow: column;
  }
  &__title {
    font-size: 20px;
    margin: 0px 0 11px 0;
  }
  &__excerpt {
    line-height: 23px;
    color: #898989;
  }
  &__link {
    color: #3a3a3a;
    text-decoration: none;
  }
  &__readmore {
    align-self: flex-end;
    text-decoration: none;
    color: #3a3a3a;
  }
}
.service-list {
  background: #faf3ea;
  padding: 10% 15px 10% 15px;
  @include m.grid(2, 30px);
  @include m.breakpoint(lg) {
    @include m.grid(4, 30px);
    padding: 107px 10% 93px 10%;
  }
  .service-item {
    display: block;
    text-align: center;
    @include m.breakpoint(sm) {
      display: grid;
      grid-template-columns: 60px auto;
      grid-gap: 10px;
      text-align: left;
    }
  }
  .service__name {
    font-size: 25px;
    color: #242424;
    margin: 0;
  }
  .service__description {
    color: #898989;
    margin-top: 10px;
  }
}

.footer {
  padding: 39px 0;
  &-list {
    @include m.grid(1, 30px);

    @include m.breakpoint(lg) {
      @include m.grid(3, 30px);
    }
  }
  &__address {
    color: #9f9f9f;
  }
  &-nav {
    @include m.grid(2, 30px);
  }
  &__title {
    font-size: 16px;
    color: #9f9f9f;
    font-weight: normal;
    margin-bottom: 59px;
  }
  &-menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &-menu-item {
    margin-bottom: 20px;
  }
  &-menu-link {
    text-decoration: none;
    color: #000;
  }
}
.newsletter {
  &__input {
    border: 1px solid transparent;
    border-bottom: 1px solid #000;
    padding: 5px 10px;
    &:focus {
      outline: none;
    }
  }
  &__btn {
    border: 1px solid transparent;
    border-bottom: 1px solid #000;
    padding: 5px 10px;
    background: none;
    cursor: pointer;
  }
}

.section-blog-heading {
  margin-bottom: 66px;
}
.controller-shop {
  max-width: 100%;
  margin: auto;
  height: 60px;
  background-color: rgba(249, 241, 231, 1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-top: -17px;
  padding: 0 20px;

  &__shop-filter {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    align-items: center;
  }

  &__shop-show {
  }
  input[type="text"] {
    width: 60px;
    padding: 0 10px;
    height: 20px;
    margin-right: 5px;
  }
}
.product-info-shop {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.image-product {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-left: 100px;
  margin-top: 10px;
}

.info-colums {
  display: flex;
  flex-direction: column;
}

.info-colums img {
  margin-bottom: 10px;
}
.size {
  background-color: rgba(249, 241, 231, 1);
  width: 30px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  border: none;
  margin: 0 10px;
}
.size:hover {
  background-color: rgba(184, 142, 47, 1);
}
.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
}
.color:nth-child(1) {
  border: none;
  background-color: rgba(129, 109, 250, 1);
}
.color:nth-child(2) {
  border: none;
  background-color: rgba(0, 0, 0, 1);
}
.color:nth-child(3) {
  border: none;
  background-color: rgba(184, 142, 47, 1);
}

.product-contact {
  margin-top: 50px;
  span {
    padding-bottom: 10px;
  }
}
.description p {
  margin: auto;
  width: 1200px;
  display: flex;
  justify-content: center;
}
.link-des {
  display: flex;
  justify-content: space-between;
  margin: 50px 50px;
}

.link-des a {
  font-size: 24px;
  color: rgba(159, 159, 159, 1);
  flex: 1;
  text-align: center;
  text-decoration: none;
}
.link-des a:hover {
  color: rgba(0, 0, 0, 1);
}
.img-product-des {
  display: flex;
  justify-content: center; 
  margin: 50px 110px;
}

.img-product-des img {
  flex: 1; 
  margin: 0 20px; 
}
.related-products h2 {
  font-size: 36px;
  line-height: 54px;
  display: flex;
  justify-content: center;
}
.cart {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}

.table {
  width: 800px;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
}

.cart-totals {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(249, 241, 231, 1);
  box-sizing: border-box;
  align-items: center;
}

.cart-totals .text {
  margin-bottom: 10px;
}

.cart-totals h5 {
  display: inline-block;
  margin-right: 10px;
}

.cart-totals .subtotal {
  display: block;
}

.cart-totals .total {
  display: block;
  margin-left: 30px;
}

.btn-primary {
  display: block;
  width: 150px;
  height: 40px;
  margin: 0 auto;
  background: blue;
  border-radius: 6px;
  text-align: center;
  line-height: 40px;
  color: white;
  text-decoration: none;
}
.product-checkout {
  display: flex;
}

.billing-details,
.total-bill {
  flex: 1; 
  
}
.content{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.total-bill .item{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.box-left {
  display: flex;
  flex-direction: column;
  margin:0 160px;
  margin-bottom: 150px;
}

.mb-3 {
  margin-bottom: 15px; 
}

.mb-3 label {
  display: block;
  margin-bottom: 5px;
}

.mb-3 input,
.mb-3 select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.mb-3 input[type="text"],
.mb-3 select {
    width: 400px; 
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.total-bill{
  margin: 0 160px;
}
.total-bill button:hover{
  background-color: rgba(184, 142, 47, 1);
}
.login {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.form {
  width: 500px;
 
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.form h2 {
  text-align: center; 
  margin-bottom: 20px;
  color: rgba(184, 142, 47, 1);
  font-size: 30px;
}

.form label {
  color: rgba(184, 142, 47, 1);
  margin-left: -10px;
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 23px;
}

.form input {
  width: 100%;
  padding: 10px;
  margin: 10px -10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(249, 241, 231, 1);
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}

.diff {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.diff button {
  margin: 10px 50px;
  width: 150px;
 
}

