body {
    font-family: "Poppins";
}
.container {
    max-width: 1266px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* ======== BUTTON ==== */
.btn {
    color: #000;
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 5px;
}

/* ======= HEADER ======= */
header {
    padding: 28px 0;
    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-inner > * {
        width: 33.333333%;
    }
}
/* ====== MAIN MENU ==== */
.main-menu {
    .main-menu__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .main-menu__link {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: #000;

        transition: 0.3s ease-in-out;
        border-radius: 5px;
    }
    .main-menu__link:hover {
        color: #fff;
        background: green;
    }
}
.header-block {
    display: flex;
    justify-content: flex-end;
    & > div {
        padding: 0 10px;
    }
}

/* ===== BANNER ===== */
.banner {
    img {
        width: 100%;
    }
}
/* ===== SECTION HEADING =====  */
.section-heading {
    padding: 10px 0;
    margin-bottom: 60px;
    border-bottom: 1px solid #000;
}

/* ====== ITEM ==== */
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.product-item {
    position: relative;
    overflow: hidden;
    .product-item-image-wrapper {
        position: relative;
    }
    .product-item__sale {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .product-item-content {
        background: #f4f5f7;
        padding: 15px;
    }
    .product-item__name {
        margin: 0;
        padding: 0;
        font-size: 24px;
    }
    .product-item__link {
        text-decoration: none;
        display: block;

        color: #3a3a3a;
    }
    .product-item__cate {
        color: #898989;
        text-decoration: none;
        display: block;
        padding: 10px 0;
    }
    .product-item-content-extra {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 20px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);

        transition: 0.3s ease-in-out;
    }
    .product-item-content-extra > * {
        max-width: 300px;
        margin-bottom: 15px;
    }

    &:hover .product-item-content-extra {
        opacity: 1;
    }
}
