@use "mixin";
$font-poppins: "Poppins", sans-serif;

body {
    font-family: $font-poppins;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 1268px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 28px 0;
    }
    &-inner > * {
        width: 33.3333%;
    }
    &-items {
        display: flex;
        justify-content: flex-end;
    }
    &-items > * {
        margin-left: 20px;
    }
}
.main-menu {
    &__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__item {
    }
    &__link {
        font-size: 18px;
        display: block;
        padding: 10px 35px;
        text-decoration: none;
        color: #000;
    }
    &__link:hover {
        background: #000;
        color: #fff;
    }
}

// BANNER
.banner {
    &__img {
        width: 100%;
    }
}
// SECTION
.section-heading {
    border-bottom: 1px solid #000;
    padding: 17px 0;
    margin-bottom: 60px;
    &__title {
        font-size: 40px;
        font-weight: 500;
        margin: 0;
        padding: 0;
    }
}

.product {
    &-list {
        @include mixin.grid(4, 30px);
    }
    &-item {
        position: relative;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    &-item:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    &-image {
        position: relative;
        overflow: hidden;
    }
    &__thumbnail {
        transform: scale(1);
        transition: all 0.3s ease-in-out;
    }
    &-item:hover &__thumbnail {
        transform: scale(1.1);
    }
    &-info {
        padding: 15px;
        background: #f4f5f7;
    }
    &__name {
        font-size: 24px;
        margin: 0;
        padding: 0;
    }
    &__link {
        text-decoration: none;
        color: #3a3a3a;
    }
    &__category {
        color: #898989;
        text-decoration: none;
        display: block;
        margin: 13px 0;
    }
    &-price {
        display: flex;
        justify-content: space-between;
    }
    &-price__new {
        color: #3a3a3a;
        font-size: 20px;
        font-weight: 600;
    }
    &-item:hover &-actions {
        opacity: 1;
    }
    &-actions {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        opacity: 0;
        transition: 0.3s ease-in-out;
        color: #fff;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    &-actions > * {
        margin-bottom: 15px;
        cursor: pointer;
    }
    &-actions > button {
        width: 200px;
        height: 30px;
    }
}
.shops {
    @include mixin.grid(2, 30px);
}
.post-item {
    @include mixin.grid(2, 30px);
    align-items: center;
    margin-bottom: 15px;
}
.post {
    &-info {
        border-bottom: 1px solid #000;
        padding-bottom: 50px;
        display: flex;
        flex-flow: column;
    }
    &__title {
        font-size: 20px;
    }
    &__link {
        color: #3a3a3a;
        text-decoration: none;
    }
    &__readmore {
        align-self: flex-end;
        text-decoration: none;
        color: #3a3a3a;
    }
}
